@import url("https://fonts.cdnfonts.com/css/museo");
@font-face {
  font-family: "Gilmer-Regular";
  src: url(fonts/Gilmer-Regular.otf);
}
@font-face {
  font-family: "Gilmer-Medium";
  src: url(fonts/Gilmer-Medium.otf);
}
@font-face {
  font-family: "Gilmer-Bold";
  src: url(fonts/Gilmer-Bold.otf);
}
@font-face {
  font-family: "Gilmer-Heavy";
  src: url(fonts/Gilmer-Heavy.otf);
}

body {
  font-family: Gilmer-Regular;
  margin: 0;
  background-color: white;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

@media (max-width: 1080px) {
  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 115vh;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 115vh;
    width: 100%;
  }
}

.contentWrapperNuestraHistoria {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentWrapperLigaMexicana {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contentWrapperFotos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentFotos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1 0 auto;
}

.content {
  background-color: antiquewhite;
  padding-top: 12rem;
  padding-bottom: 8rem;
  flex: 1 0 auto;
  /* background-image: url(images/adomex-cuadradoSINTEXTO.png);
  background-repeat: no-repeat;
  background-size: 78%;
  background-position-x: center;
  background-position-y: center; */
}
.contentElDodgeballEnMexico {
  background-color: antiquewhite;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  flex: 1 0 auto;
  background-image: url(images/adomex-cuadradoSINTEXTO.png);
  background-repeat: no-repeat;
  background-size: 78%;
  background-position-x: center;
  background-position-y: center;
}
.contentQueEsElDodgeball {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: antiquewhite;
  height: 100%;
  padding-top: 8rem;
  flex: 1 0 auto;
  /* background-image: url(images/adomex-cuadradoSINTEXTO.png);
  background-repeat: no-repeat;
  background-size: 78%;
  background-position-x: center;
  background-position-y: center; */
}

@media (max-width: 500px) {
  .contentQueEsElDodgeball {
    height: auto;
    padding-bottom: 1rem;
    gap: 3.5rem;
  }
}
.contentEquipo {
  height: 100%;
}

.contentEventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.navbarcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: Museo;
  padding-top: 0.2rem;
  width: 100%;
  background-color: #ffffffe5;
  box-shadow: 2px 2px 5px;
  z-index: 1;
  min-height: 69px;
}

@media (max-width: 1080px) {
  .navbarcontainer {
    flex-wrap: wrap;
  }
}

.adomexLogo {
  width: 10rem;
}

@media (max-width: 500px) {
  .navbarcontainer {
    position: absolute;
    width: 100%;
    height: 13%;
    background-color: #ffffffe5;
    box-shadow: 2px 2px 5px;
    z-index: 3;
    gap: 3rem;
  }
}

.navbarOption > a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  padding-bottom: 2rem;
  padding-top: 2.5rem;
}

.navbarcontainer > ul {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbarcontainer > ul > a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
}

@media (max-width: 500px) {
  .navbarcontainer > ul {
    display: none;
  }
}

.dropdown {
  display: none;
}

@media (max-width: 500px) {
  .dropdown {
    display: block;
    float: left;
    overflow: hidden;
  }
}
.dropbtn {
  height: 98px;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #db3932;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.subDropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
  text-align: left;
  display: inline;
}

.subMenuOption {
  text-decoration: none;
  color: black;
  padding-right: 1rem;
}

.sobreOption {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 9.4rem;
}

.equiposOption {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15rem;
}

.ligasOption {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 16.7rem;
}

/* Add a red background color to navbar links on hover */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 0%;
  top: 102%;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content .anchorOption {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 1px solid;
}
.subDropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 1px solid;
}
.sobreDropdownContent {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 20%;
  top: 100%;
}
.subDropdown-content {
  display: none;
}
.sobreDropdownContent > a {
  padding-top: 1rem;
  padding: 1rem 1rem;
}
.sobreDropdown:hover .sobreDropdownContent {
  display: flex;
}
.ligasDropdownContent {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 36%;
  top: 100%;
}
.ligasDropdownContent > a {
  padding-top: 1rem;
  padding: 1rem 1rem;
}
.ligasDropdown:hover .ligasDropdownContent {
  display: flex;
}

.equiposDropdownContent > a {
  padding-top: 1rem;
  padding: 1rem 1rem;
}
.equiposDropdown:hover .equiposDropdownContent {
  display: flex;
}

.equiposDropdownContent {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 42%;
  top: 100%;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.subDropdownContainer {
  border-top: 1px solid;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 1rem;
}

.subDropdownContainer:hover {
  background-color: #ddd;
}

.plusBtn {
  display: inline;
}

.plusBtn:hover .subDropdown-content {
  display: block;
  background-color: #ddd0;
}

.dropdownSubOption {
  font-family: Gilmer-Regular;
  text-decoration: none;
  color: black;
}

.fa.fa-plus-square {
  color: #db3932;
  font-size: 2.3rem;
}

.dropdownSubOption:hover {
  background-color: #f9dcc8;
}

.welcomecontainer {
  position: absolute;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ffffff94;
  border-radius: 10px;
  width: auto;
  height: auto;
  z-index: 1;
  top: 70%;
}

@media (max-width: 500px) {
  .welcomecontainer {
    top: 25%;
  }
}

.welcomecontainerQuienesSomos {
  margin-left: 25%;
  margin-right: 25%;
  background-color: #ffffff94;
  border-radius: 10px;
  width: auto;
  height: auto;
  z-index: 1;
  top: 15%;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

@media (max-width: 1080px) {
  .welcomecontainerQuienesSomos {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 500px) {
  .welcomecontainerQuienesSomos {
    background-color: #ffffff94;
    border-radius: 10px;
    font-size: 0.9rem;
    margin: 0;
    width: auto;
    height: auto;
    z-index: 1;
    top: 15%;
  }
}

.welcomecontainerQueEsElDodgeball {
  background-color: #ffffff94;
  border-radius: 10px;
  max-width: 60rem;
  height: auto;
  z-index: 1;
}

@media (max-width: 500px) {
  .welcomecontainerQueEsElDodgeball {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.welcomecontainerLigaMexicana {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;

  border-radius: 10px;
  width: auto;
  height: auto;
  z-index: 1;
  top: 20%;
}

@media (max-width: 500px) {
  .welcomecontainerLigaMexicana {
    margin-left: 0;
    margin-right: 0;
  }
}

.logoAdomexCuadrado {
  width: 14rem;
}

.welcomecontainerCapacitaciones {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ffffff94;
  border-radius: 10px;
  width: auto;
  height: auto;
  z-index: 1;
}

@media (max-width: 1080px) {
  .welcomecontainer {
    top: 24%;
  }
}

@media (max-width: 500px) {
  .welcomecontainer {
    position: absolute;
    margin-left: 4vw;
    margin-right: 4vw;
    background: rgba(234, 221, 221, 0.7);
    border-radius: 10px;
    width: auto;
    height: auto;
    z-index: 1;
    left: 0%;
  }
}

.welcomecontainer > p {
  font-size: 1.3rem;
  opacity: 1;
  color: black;
  text-shadow: 4px 1px 6px #5e5d5d;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 1080px) {
  .welcomecontainer > p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .welcomecontainer > p {
    font-size: 0.9rem;
  }
}

.welcomecontainerQuienesSomos > p {
  font-size: 1.3rem;
  opacity: 1;
  color: black;
  text-shadow: 1px 1px 6px #5e5d5d;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 500px) {
  .welcomecontainerQuienesSomos > p {
    font-size: 0.9rem;
  }
}

.welcomecontainerQueEsElDodgeball > p {
  font-size: 1.3rem;
  opacity: 1;
  color: black;
  text-shadow: 4px 1px 6px #5e5d5d;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 500px) {
  .welcomecontainerQueEsElDodgeball > p {
    font-size: 0.9rem;
  }
}

.welcomecontainerCapacitaciones > p {
  font-size: 1.3rem;
  opacity: 1;
  color: black;
  text-shadow: 4px 1px 6px #5e5d5d;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}

.youtubeVOD {
  /* max-width: 60rem;
  width: 60rem;
  height: 33.75rem; */
  width: 50vw;
  height: 55vh;
}

@media (max-width: 500px) {
  .youtubeVOD {
    width: 21rem;
    height: 11.8rem;
    padding-bottom: 3.5rem;
  }
}

.welcomecontainerLigaMexicana > p {
  font-size: 1.3rem;
  opacity: 1;
  color: black;
  text-shadow: 4px 1px 6px #5e5d5d;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 750px;
}

@media (max-width: 500px) {
  .welcomecontainerLigaMexicana > p {
    max-width: 10em;
    text-align: center;
  }
}

.landingpagebackground {
  width: 100%;
  height: 100%;
  flex: 1 0 auto;
}

.landingpagebackground > img {
  filter: grayscale(25%);
  height: 100%;
  width: 100%;
}

.landingpagebackgroundfotos {
  background-image: url(images/bgfotos.jpg);
  background-size: cover;
  width: auto;
  padding-bottom: 8rem;
}

@media (max-width: 1080px) {
  .landingpagebackground > img {
    height: 115vh;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .landingpagebackground > img {
    height: 115vh;
    object-fit: cover;
  }
}

/* FOOTER */

footer {
  background-color: #2b211e;
  width: 100%;
  flex-shrink: 0;
  font-family: sans-serif;
}

hr {
  width: 80%;
  color: beige;
  background-color: beige;
  border: none;
  height: 0.04rem;
}

.mapaSitioWrapper {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapaYRedesContainer {
  display: flex;
  width: 80%;
  padding-bottom: 3rem;
}

@media (max-width: 1080px) {
  .mapaYRedesContainer {
    width: AUTO;
  }
}

@media (max-width: 500px) {
  .mapaYRedesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    padding-bottom: 0;
  }
}

.mapaSitioContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mapaSitioContainer > h3 {
  font-size: 1.1rem;
  color: beige;
  font-weight: bold;
}

.mapaSitio {
  display: flex;
  gap: 6rem;
  font-size: 0.9rem;
  color: rgb(206, 206, 188);
  font-weight: bolder;
}

@media (max-width: 500px) {
  .mapaSitio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    color: rgb(206, 206, 188);
    font-weight: bolder;
  }
}

.mapaSitio > ul {
  list-style-type: none;
  padding: 0;
}

.mapaSitio > ul > li > a {
  text-decoration: none;
  color: beige;
}

.mapaSitio > ul > li > a:hover {
  color: #db3932;
}

.redesSocialesWrapper {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-grow: 1;
}

.redesSocialesWrapper > ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  color: beige;
  padding-left: 0;
}

.locationIcon {
  text-decoration: none;
  color: beige;
}

.locationIcon:hover {
  color: #db3932;
}

.facebookIconFooter {
  text-decoration: none;
  color: beige;
  font-size: 2.3rem;
}

.facebookIconFooter:hover {
  color: #db3932;
}

.instagramIconFooter {
  text-decoration: none;
  color: beige;
  font-size: 2.3rem;
}

.instagramIconFooter:hover {
  color: #db3932;
}

.whatsappIconFooter {
  text-decoration: none;
  color: beige;
  font-size: 2.3rem;
}

.whatsappIconFooter:hover {
  color: #db3932;
}

.logosWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 500px) {
  .logosWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: 315px;
    width: 320px;
  }
}

.logosWrapper > a > img {
  max-width: 10vh;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 1.8rem;
}

@media (max-width: 1080px) {
  .logosWrapper > a > img {
    width: 75%;
    max-width: 6rem;
    display: flex;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 500px) {
  .logosWrapper > a > img {
    width: 80%;
    max-width: 6rem;
    display: flex;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.logoIztapalapa > img {
  width: 7vh;
}
.logoUtopia > img {
  width: 7vh;
}
/* .logoTlalpan {
} */
.logoLhasa > img {
  width: 4.5vh;
}

.avisoYCredits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding-bottom: 3rem;
}

.avisoPrivacidad {
  font-size: 0.9rem;
  color: beige;
  text-decoration: none;
}

.avisoPrivacidad:hover {
  color: #db3932;
}

.creditContainer {
  font-size: 0.8rem;
  color: grey;
  text-decoration: none;
}

.creditContainer:hover {
  color: #db3932;
}

/* EQUIPOS */

.equiposcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 12rem;
  padding-bottom: 8rem;
  width: auto;
  height: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 1;
  top: 12%;
  background-image: url(images/bgequipos.jpg);
  background-size: cover;
}

@media (max-width: 500px) {
  .equiposcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    width: auto;
    height: auto;
    z-index: 1;
    top: 12%;
  }
}

.equiposcontainer > h3 {
  text-align: center;
  padding-bottom: 13px;
  font-size: 3vw;
  color: antiquewhite;
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  .equiposcontainer > h3 {
    text-align: center;
    padding-bottom: 1%;
    font-size: 7vw;
  }
}

.equiposgridFoamVaronil {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  max-width: 70rem;
}

.equiposWrapper {
  background-color: #fff3;
  border-radius: 12px;
  padding: 2rem;
}

.equiposWrapper > h1 {
  font-size: 3.2rem;
  padding-bottom: 2.3rem;
  text-shadow: 0px 2px 16px #a4a4a4;
}

@media (max-width: 500px) {
  .equiposWrapper > h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 0.2rem;
  }
}

@media (max-width: 1080px) {
  .equiposWrapper {
    background-color: #fff3;
    border-radius: 12px;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .equiposWrapper {
    background-color: #fff3;
    padding: 0;
  }
}

@media (max-width: 1080px) {
  .equiposgridFoamVaronil {
    grid-template-columns: repeat(3, 0.5fr);
    max-width: 43rem;
  }
}

@media (max-width: 500px) {
  .equiposgridFoamVaronil {
    display: grid;
    grid-gap: 2.5rem;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

.equiposgridFoamFemenil {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  max-width: 70rem;
}

@media (max-width: 1080px) {
  .equiposgridFoamFemenil {
    grid-template-columns: repeat(3, 0.5fr);
    max-width: 43rem;
  }
}

@media (max-width: 500px) {
  .equiposgridFoamFemenil {
    display: grid;
    grid-gap: 2.5rem;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

.equiposgridFoamMixto {
  display: grid;
  max-width: 70rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 1080px) {
  .equiposgridFoamMixto {
    grid-template-columns: repeat(3, 0.5fr);
    max-width: 43rem;
  }
}

@media (max-width: 500px) {
  .equiposgridFoamMixto {
    display: grid;
    grid-gap: 2.5rem;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

.equiposgridClothMixto {
  display: grid;
  max-width: 70rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 1080px) {
  .equiposgridClothMixto {
    grid-template-columns: repeat(3, 0.5fr);
    max-width: 43rem;
  }
}

@media (max-width: 500px) {
  .equiposgridClothMixto {
    display: grid;
    grid-gap: 2.5rem;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

.equiposgridEstatales {
  display: grid;
  justify-content: center;
  align-content: center;
  max-width: 70rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 500px) {
  .equiposgridEstatales {
    display: grid;
    grid-gap: 2.5rem;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

.equipo {
  position: relative;
  transition: 0.4s ease-out;
  text-align: center;
}

@media (max-width: 500px) {
  .equipo {
    transition: 0.4s ease-out;
    text-align: center;
    font-size: 2vw;
  }
}

.equipo:hover {
  transform: translateY(15px);
}

.equipo:hover:before {
  opacity: 1;
}

.equipo:hover .equiponame {
  opacity: 1;
  transform: translateY(0);
}

.equipo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.equipo .equiponame {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.5s;
}

.equipo > img {
  width: 100%;
}

.equiponame {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 2rem;
}

#deadlock {
  display: none;
}

#pinUpRebels {
  display: none;
}
#ahuizotl {
  display: none;
}
#troopersFoam {
  display: none;
}
#hokusai {
  display: none;
}
#mexicas {
  display: none;
}
#troopersCloth {
  display: none;
}
#ticTacCloc {
  display: none;
}
#clothStars {
  display: none;
}
#tlaloCloth {
  display: none;
}

/* LIGAS */

.ligasWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.ligasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5rem;
}

@media (max-width: 1080px) {
  .ligasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4rem;
  }
}

@media (max-width: 500px) {
  .ligasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5rem;
  }
}

.ligaMexicanaDeDodgeball {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ligasRecreativas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
}

.abreTuLiga {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
}

.imgLigas {
  width: 13rem;
}

@media (max-width: 1080px) {
  .imgLigas {
    width: 10rem;
  }
}

.imgLigaMex {
  width: 16rem;
}

@media (max-width: 1080px) {
  .imgLigaMex {
    width: 13rem;
  }
}

/* FOTOS */

.fotostodas {
  display: flex;

  z-index: 2;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
}

.gridFotos {
  display: grid;
  grid-template-columns: repeat(3, 0.23fr);
  row-gap: 2rem;
  justify-content: center;
  padding-top: 11rem;
}

@media (max-width: 1080px) {
  .gridFotos {
    grid-template-columns: repeat(2, 0.23fr);
    column-gap: 1rem;
  }
}

@media (max-width: 500px) {
  .gridFotos {
    grid-template-columns: repeat(1, 0.23fr);
  }
}

@media (max-width: 500px) {
  .fotostodas {
    display: flex;
    position: absolute;
    z-index: 2;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    top: 7%;
    left: 0%;
  }
}

@media (max-width: 500px) {
  .segundas3 {
    display: none;
  }
}

.fotos > .fotostodas > iframe {
  border-radius: 50px;
  box-shadow: 2px 4px 10px;
}

.gridFotos > iframe {
  height: 26rem;
  width: 18rem;
  border-radius: 18px;
}

/* MAP STUFF */

path {
  fill: rgb(65, 65, 65);
}

.alcaldiaHoverText {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  display: none; /* Initially hidden */
}

#benitoJuarez {
  fill: rgb(56, 123, 59);
}

#benitoJuarez:hover {
  fill: rgb(212, 236, 128);
  stroke: #db3932;
  stroke-width: 3px;
  transition: fill 0.4s;
}

#tlalpan {
  fill: rgb(56, 123, 59);
}

.hrSeparator {
  background-color: black;
  height: 0.12rem;
  width: auto;
}

#tlalpan:hover {
  fill: rgb(212, 236, 128);
  stroke: #db3932;
  stroke-width: 3px;
  transition: fill 0.4s;
}

#iztapalapa {
  fill: rgb(56, 123, 59);
}

#iztapalapa:hover {
  fill: rgb(212, 236, 128);
  stroke: #db3932;
  stroke-width: 3px;
  transition: fill 0.4s;
}

path:hover {
  fill: rgb(233, 233, 233);
  stroke: #db3932;
  stroke-width: 3px;
  transition: fill 0.4s;
}

.mapaYDescripcionContainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

@media (max-width: 500px) {
  .mapaYDescripcionContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 5rem;
  }
}

.mapaAlcaldia {
  height: auto;
  width: 30%;
  min-width: 500px;
}

@media (max-width: 500px) {
  .mapaAlcaldia {
    display: none;
  }
}

.alcaldiaDescripcion {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 30rem;
  width: 480px;
}

@media (max-width: 500px) {
  .alcaldiaDescripcion {
    width: auto;
    max-width: auto;
  }
}

@media (max-width: 500px) {
  .alcaldiaDescripcion > .infoWrapper > .ubicacionWrapper > h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  div.alcaldiaDescripcion
    > div.infoWrapper
    > div.ubicacionWrapper
    > div.ubicacionInfoContainer
    > div.ubicacionYLogoContainer
    > div.ubicacionInfo {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  div.alcaldiaDescripcion
    > div.infoWrapper
    > div.ubicacionWrapper
    > div.ubicacionInfoContainer
    > div.ubicacionInfoExtra {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .alcaldiaDescripcion > .infoWrapper > .horariosWrapper > h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  div.alcaldiaDescripcion
    > div.infoWrapper
    > div.horariosWrapper
    > div.horariosInfo {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .alcaldiaDescripcion > .infoWrapper > .costosWrapper > h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  div.alcaldiaDescripcion
    > div.infoWrapper
    > div.costosWrapper
    > div.costosInfo {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .alcaldiaDescripcion > .infoWrapper > .coachWrapper > h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  div.alcaldiaDescripcion
    > div.infoWrapper
    > div.coachWrapper
    > div.coachContainer
    > div.coachInfoYLogo
    > div.coachInfo {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  div.alcaldiaDescripcion
    > div.infoWrapper
    > div.coachWrapper
    > div.coachContainer
    > div.coachInfoYLogo
    > div.coachInfoExtra {
    font-size: 0.9rem;
  }
}

.alcaldiaTitulo {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
}

.alcaldiasFormTop {
  display: none;
}

@media (max-width: 500px) {
  .alcaldiasFormTop {
    display: block;
  }
}

.alcaldiasForm {
  text-align: center;
}

.ubicacionTitulo {
  text-align: justify;
  white-space: pre-line;
}

.costosTitulo {
  white-space: pre-line;
}

.ubicacionInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* @media (max-width: 500px) {
  .ubicacionInfoContainer {
    display: none;
  }
} */

.ubicacionYLogoContainer {
  display: flex;
  gap: 0.4rem;
}

.ubicacionInfo {
  font-size: 1rem;
  white-space: pre-line;
}

.locationIconInfo {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.locationIconInfo:hover {
  color: red;
}

.ubicacionInfoExtra {
  font-size: 1rem;
  white-space: pre-line;
}

.alcaldiasMenuContainer {
  display: none;
}

@media (max-width: 500px) {
  .alcaldiasMenuContainer {
    display: block;
  }
}

.horariosTitulo {
  text-align: justify;
}

.horariosInfo {
  font-size: 1rem;
  white-space: pre-line;
}

.costosInfo {
  font-size: 1rem;
  white-space: pre-line;
}

.coachContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.coachInfoYLogo {
  display: flex;
  gap: 0.4rem;
}

.whatsappIconInfo {
  color: black;
  list-style-type: none;
}

.whatsappIconInfo:hover {
  color: green;
}

.coachInfo {
  font-size: 1rem;
  white-space: pre-line;
}

.contactoWrapper {
  display: flex;
  flex-direction: column;
}
.contactoWrapper > ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1rem;
}

.contactoWrapper > ul > a > li {
  color: rgb(65, 65, 65);
}

/* Liga Mexicana de Dodgeball */

.ligaMexicanaContentWrapper {
  display: flex;
  flex-direction: column;
}

.mainTextContainer {
  height: 100%;
  padding-bottom: 4rem;
}

.matchBoardContainer {
  background-color: #ddb8acb8;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.matchBoardGrid {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .matchBoardGrid {
    display: grid;
    grid-template-columns: repeat(1, 0.1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}

.match {
  height: 13rem;
  width: 23rem;
  border: solid 1px;
  display: flex;
  justify-content: center;
}

.innerMatchColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logosAndScores {
  display: flex;
  align-items: center;
}

.teamLogo1 > img,
.teamLogo2 > img {
  height: 4rem;
}
.teamLogo1,
.teamLogo2 {
  height: fit-content;
  width: fit-content;
}

.matchScore {
  font-size: 2rem;
}

/* Events */

.eventWrapper {
  background: antiquewhite;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

@media (max-width: 500px) {
  .eventWrapper {
    padding-top: 3rem;
  }
}

.eventGrid {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-gap: 2rem;
  justify-content: center;
}

@media (max-width: 1080px) {
  .eventGrid {
    grid-template-columns: repeat(2, 0.1fr);
  }
}

@media (max-width: 500px) {
  .eventGrid {
    display: grid;
    grid-template-columns: repeat(1, 0.1fr);
    grid-gap: 2rem;
    justify-content: center;
  }
}

.eventCard {
  display: flex;
  height: 9rem;
  width: 17rem;
  border: solid 1px;
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fffdef;
  overflow-wrap: break-word;
}

.dateWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day {
  border: solid 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: currentcolor;
  border-top: none;
  text-align: center;
  font-size: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  min-width: 4.5rem;
  max-width: 4.5rem;
}

.month {
  border: solid 1px red;
  background-color: red;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.year {
  text-align: center;
  font-size: 0.8rem;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 500px) {
  .infoWrapper {
    padding-left: 0;
    padding-right: 0;
    max-width: 12rem;
  }
}

.eventName {
  font-size: 1.1rem;
}

.eventDuration {
  font-size: 0.8rem;
}

.eventLocation {
  font-size: 0.8rem;
}

/*SOBRE ADOMEX*/

/* QUIENES SOMOS */
.miembrosWrapper {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.miembrosGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-column-gap: 7rem;
  grid-row-gap: 2rem;
}

@media (max-width: 500px) {
  .miembrosGrid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.miembro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miembroFoto > img {
  height: 10rem;
}

/* SHOW AND HIDE CLASSES */

.show {
  display: block;
}

.hide {
  display: none;
}

/*PRIVACY*/

.welcomecontainerPrivacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;

  border-radius: 10px;
  width: auto;
  height: auto;
  z-index: 1;
  top: 20%;
}

@media (max-width: 1080px) {
  .welcomecontainerPrivacy {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .welcomecontainerPrivacy {
    margin-left: 0;
    margin-right: 0;
  }
}

.welcomecontainerPrivacy > p {
  opacity: 1;
  color: black;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 500px) {
  .welcomecontainerPrivacy > p {
    margin-left: 0;
    margin-right: 0;
    max-width: 20rem;
  }
}
